
#improved_case_log {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 700px;
	overflow-x: visible;
	overflow-y: auto;
	border: 1px solid #DDDDDD;
	border-left: 0px;
	border-right: 0px;
	font-family: Verdana,Sans;
	font-size: 11px;
}

.log_line {
	padding: 10px;
}

.log_line_header {
	background-color: #FFFFCC;
	border: 1px solid #E6E6B8;
	border-bottom: 0px;
	color: #A1A161;
	font-size: 9px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.case_note_header {
	background-color: #EEEEEE;
	border: 1px solid #DDDDDD;
	border-bottom: 0px;
}

.task_note_header {
	background-color: #EEEEEE;
	border: 1px solid #DDDDDD;
	border-bottom: 0px;
}

.log_detail {
	border: 1px solid #DDDDDD;
	border-top: 0px;
	border-bottom: 0px;
}

p.note_body {
	padding-left: 5px;
}

.data_block {
	display: inline-block;
	*display: inline; /* IE document mode 5 hack */
	*zoom: 1;
}

.data {
	height: 20px;
	border: 1px solid #8F6BB2;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	line-height: 1.8;
	line-height/**/: 2.0;
}

.data_mid {
	border-right: none;
}

.data_left {
	padding-left: 8px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-left: 10px;
	border-right: none;
}

.data_right {
	padding-right: 8px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.data_label {
	background-color: #8F6BB2;
	color: white;
	font-weight: bold;
	border-top: 1px solid #A589C1;
	border-left: 1px solid #A589C1;
	border-bottom: 1px solid #72568E;
	border-right: 1px solid #72568E;
}

.data_log {
	height: 20px;
	border: 1px solid #CACAA6;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	line-height: 1.8;
	line-height/**/: 2.0;
}

.data_label_log {
	background-color: #CACAA6;
	color: #FFFFCC;
	font-weight: bold;
	border: 1px solid #CACAA6;
}

.orig_email_wrap {
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
}

.orig_email_header {
	font-weight: bold;
	background-color: #E0E0E0;
	color: #A0A0A0;
	padding: 5px;
	cursor: pointer;
}

.orig_email_body {
	padding: 5px;
	border-top: 1px solid #CCCCCC;
}

.orig_email_icon {
	padding-right: 10px;
}

.orig_email_click_notice {
	padding-left: 10px;
	color: #BBBBBB;
	font-weight: normal;
}
